# ============= UNITY =============
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
Logs/
MemoryCaptures/
MemoryCaptures/
*.pidb

# ============= IDE =============
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# ============= OS FILES ============
.DS_Store
Thumbs.db
