
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UserSettings/
Logs/
MemoryCaptures/


.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd


.DS_Store
Thumbs.db


!Assets/
!ProjectSettings/
!Packages/
!Build/